# theme = "rose_pine_moon_transparent"
theme = "my_theme"

[editor]
line-number = "relative"
mouse = true
middle-click-paste = false
auto-format = false
true-color = true
bufferline = "always"
color-modes = true
end-of-line-diagnostics = "hint"

[editor.statusline]
left = ["mode", "spinner", "file-name", "read-only-indicator"]
right = ["diagnostics", "file-encoding", "position", "position-percentage"]
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[editor.lsp]
display-messages = true
display-progress-messages = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.soft-wrap]
enable = true
wrap-indicator = ""

[editor.inline-diagnostics]
cursor-line = "warning"

[keys.insert]
esc = ["collapse_selection", "normal_mode"]
"C-[" = ["collapse_selection", "normal_mode"]

[keys.select]
esc = ["collapse_selection", "keep_primary_selection", "normal_mode"]
